body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6fafa;
}
.non-nav {
  padding-top: 80px;
}

a {
  color: black;
  text-decoration: none;
}

.margin-x {
  width: 60%;
  margin: auto;
  @include breakpoint-down(medium) {
    width: 90%;
  }
}
