.nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #001e43;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  &-content {
    margin-left: 20px;
    display: flex;
    align-items: center;

    img {
      width: 100px;
      margin: 20px;
      font-weight: bold;
    }
    h1 {
      margin-left: 20px;
      font-size: 25px;
      color: white;
    }
  }
}
